/* dit is de Grid die de logo, Home, locatie en Squads in vier kolommen. */
header { border-bottom: 1.5px solid #000000;  }

.navigatie {
  display: grid; grid-template-columns: auto auto 1fr auto; 
  align-items: center; 
  gap: 30px; 
  width: 94%; 
  margin: auto; 
  padding: 22px 0; 
}

.logo img { display: block;  width: 180px;  height: auto;  }
.locatie { justify-self: center; font-size: 14px; }
.knop {
  background: #242720; 
  color: white; 
  padding: 14px 22px; 
  border-radius: 5px; 
}

h1 {
  justify-content: center;
  display: flex;
  margin: 7px;
}

ul.locations{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

ul.locations li{
  grid-column-start:1;
  grid-column-end:2;
}

ul.photos{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
}

ul.photos li:nth-of-type(odd){
  grid-column-start: 2;
  grid-column-end: 3;
}

img {
  width: 400px;
  height: 250px;
}